/*the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /*container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #2e8b57;
    text-align: center;
    margin-top: 0;
  }
  
  /*the form data */
  .form-data {
    margin-bottom: 20px;
  }
  
  .form-data label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  .form-data p {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }
  
  .form-data p.skills {
    white-space: pre-wrap;
  }
  
  /* Style the success message "Thank u .."*/
  .success-message {
    font-size: 24px;
    font-weight: bold;
    color: #2e8b57;
    text-align: center;
    margin-top: 30px;
  }
  
  /*the error message */
  .error-message {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin-top: 30px;
  }